{% extends "layout.html" %}

{% block title %}
    Registration
{% endblock %}

{% block content %}
    <div class="form-container">
        <div class="form-login-registretion">
            <h1 class="form-title">Registration</h1>
            <form action="{% url 'users:register' %}" method="post" >
                {% csrf_token %}
                <div class="form-fields">
                    {{ form }}
                </div>
                <button type="submit" class="btn-submit">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}
