<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Clothes Shop
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/main.js' %}" defer></script>
</head>
<body>
    <nav>
        <div class="nav-left">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="{% url 'clothes:page' %}">Clothes</a>
            <a href="{% url 'clothes:new-cloth' %}">Add New Cloth</a>
        </div>
        <div class="nav-right">
            {% if user.is_authenticated %}
                <form action="{% url 'users:logout' %}" method="post">
                    {% csrf_token %}
                    <button>Logout</button>
                </form>
            {% else %}
            <a href="{% url 'users:register' %}">Registration</a>
            <a href="{% url 'users:login' %}">Login</a>
            {% endif %}
        </div>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>